
<nav class="primary">
    <span id="hs_cos_wrapper_main_nav" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style=""
        data-hs-cos-general-type="widget" data-hs-cos-type="menu">
        <div id="hs_menu_wrapper_main_nav" class="hs-menu-wrapper active-branch flyouts hs-menu-flow-horizontal" role="navigation"
            data-sitemap-name="squaredot 2-0" aria-label="Navigation Menu">
            <ul>
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goHome()" role="menuitem">Home</a></li>
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goAbout()">About Us</a></li>                
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goServices()">Services</a></li>               
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goResearch()">Research</a></li>               
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goPressRelease()">Press Release</a></li> 
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goOurWork()">Our Work</a></li> 
                <li class="hs-menu-item hs-menu-depth-1"><a (click)="goContact()">Contact Us</a></li>                
            </ul>
        </div>
    </span>
    <a id="nav-toggle" href="#"><span></span></a>
</nav>

<!-- 40Nuggets Starts
<script type="text/javascript">
var _40nmcid = '40NM-13260-1';
(function() {
var nm = document.createElement('script'); nm.type = 'text/javascript'; nm.async = true;
nm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 
'40nuggets.com/widget/js/track/track-'+_40nmcid+'.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(nm,s);
})();
</script>
40Nuggets Ends -->