<!-- <h1>402</h1>
<h2>This is Home</h2> -->

<section>
     <div>  
    <img class="fullBg" fullpage src="assets/img/background/banner-BG.jpg">
    <div class="container">
    <img src="assets/img/LOGO.png" class="center">
    </div>
    </div>
</section>

<!-- <section>
        <div>  
       <img class="fullBg" fullpage src="assets/img/background/website-design-BG.jpg">
       <div class="container">
       <img src="assets/img/LOGO.png" class="center">
       </div>
       </div>
   </section> -->

<!-- <section class="hero is-info is-fullheight is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title"></h1>
            <img src="assets/img/LOGO.png" class="center">
        </div>
    </div> 
</section>

<section class="website-design is-info is-fullheight is-bold">
    <div class="website-design-body">
        <div class="container">            
            <h1 class="title">Website Design and Development</h1>
            <p>We keep a better connect with our clients to develop a deep
                understanding of their requirements. Our web designers
                &amp; developers are equipped with broad web-related skills.
                They understand artistic values and keep constant touch with
                the latest web technologies and client needs. All these skills
                are applied to either create a new website or re-design/upgrade
                an existing website</p>
                
            <img src="assets/img/website-design.png">
        </div>
    </div>
</section>

<section class="mobile-app is-info is-fullheight is-bold">
    <div class="mobile-app-body">
        <div class="container">            
            <h1 class="title">Mobile App Development</h1>
            <p>Our highly skilled staff is creative and knowledgeable and can
                deliver a full range of mobile services. We use advanced tools
                and technology to provide diversified mobile app experiences.
                We create modern, interactive interfaces of various mobile
                devices. TrueVision follows a streamlined process of mobile
                development covering all stages of the cycle</p>
            <img src="assets/img/mobile-app.png">
        </div>
    </div>
</section>

<section class="seo is-info is-fullheight is-bold">
    <div class="seo-app-body">
        <div class="container">            
            <h1 class="title">Search Engine Optimization (SEO)</h1>
            <p>SEO is one of the most crucial and signi􀃠cant aspects of
                online marketing. Our research team builds the foundation by
                analyzing and identifying the most effective keywords. We do
                an in-depth competitive analysis to ensure what the competition
                holds as strengths and weaknesses. TrueVision creates
                links with established and quality sites to drive relevant traffic</p>
            <img src="assets/img/SEO.png">
        </div>
    </div>
</section>

<section class="e-commerce is-info is-fullheight is-bold">
    <div class="e-commerce-app-body">
        <div class="container">            
            <h1 class="title">E-Commerce Development</h1>
            <p>We serve a wide range of industries and provide satisfactory
                solutions. Our market specialists build responsive websites,
                accessible on every device. Other than the usual e-commerce
                development services, we also offer theme customization and
                maintenance; support services. Our team is always
                remains up-to-date with current industry trends and incorporate
                them as they see it.</p>
            <img src="assets/img/e-commerce.png">
        </div>
    </div>
</section>

<section class="sem is-info is-fullheight is-bold">
    <div class="sem-app-body">
        <div class="container">            
            <h1 class="title">E-Commerce Development</h1>
            <p>We serve a wide range of industries and provide satisfactory
                solutions. Our market specialists build responsive websites,
                accessible on every device. Other than the usual e-commerce
                development services, we also offer theme customization and
                maintenance; support services. Our team is always
                remains up-to-date with current industry trends and incorporate
                them as they see it.</p>
            <img src="assets/img/SEM.png">
        </div>
    </div>
</section> -->